In [2]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [9]:
df1 = pd.read_csv("data_merged_all_cleaned.csv", parse_dates=[0])
df1.index = df1.date
df1.head()

,date,ozone,wd,ws,pm10,pm25,temp,nox
date,,,,,,,,
2014-01-01 00:00:00,2014-01-01 00:00:00,0.0014,0.0,0.0,172.2,136.4,6.21,0.1685
2014-01-01 01:00:00,2014-01-01 01:00:00,0.0022,0.0,0.0,187.0,152.3,5.63,0.1753
2014-01-01 02:00:00,2014-01-01 02:00:00,0.0023,0.0,0.0,195.5,161.6,5.08,0.1599
2014-01-01 03:00:00,2014-01-01 03:00:00,0.0017,75.0,0.6,178.8,151.9,4.63,0.1439
2014-01-01 04:00:00,2014-01-01 04:00:00,NaN,0.0,0.0,140.3,121.4,4.36,NaN

In [11]:
df1.ws.mean()

1.3021791705588044

In [25]:
def area_dispersion():
    pm_10 = 66/1000. # mg/vm
    pm_25 = 23.2/1000. # mg/vm
    dist_traveled = 26080 # m
    total_dist_traveled = 78535 # m
    cars_per_day = 230000 # cars / day
    cars = 230000
    cars_per_second = cars_per_day / 86400
    avg_spd = 26.8 # m/s
    box_vol = 26080 * 26080 * 2000
    width_of_car = 2 # m
    length_of_car = 3 # m
    avg_wdspd = 1.3 # m/s
    H = 2000 # m (boundary layer height)
    
    qs_pm10 = (pm_10 * dist_traveled) * cars \
              / (dist_traveled**2)
    qs_pm25 = (pm_25 * dist_traveled) * cars \
              / (dist_traveled**2)
        
    C_pm10 = (qs_pm10 * dist_traveled) / (avg_wdspd*H)
    C_pm25 = (qs_pm25 * dist_traveled) / (avg_wdspd*H)
    print(C_pm10) # Should be ~45ish
    print(C_pm25)
    
area_dispersion()

5.838461538461538
2.052307692307692

In [18]:
45 * 10e3

450000.0